* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #131921;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: orange;
}

.search-box {
    display: flex;
    width: 50%;
}

.search-box select,
.search-box input {
    padding: 8px;
    border: none;
}

.search-box input {
    flex: 1;
}

.search-box button {
    padding: 8px 15px;
    background: orange;
    border: none;
    cursor: pointer;
}

.nav-right {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

/* CATEGORY BAR */
.category-bar {
    background: #232f3e;
    padding: 10px;
}

.category-bar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    padding: 30px;
    background: #c0cece;
}

.hero-text {
    width:60%;
}

.hero-text h1 {
    color: #b12704;
}

.hero-image {
    width: 60%;

}

.hero-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* PRODUCT SECTION */
.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background: #f3f3f3;
}

.product-card {
    background: white;
    padding: 15px;
}

.product-card h3 {
    margin-bottom: 10px;
}

.product-card a {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
}

/* IMAGE GRID */
.grid-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.img-box {
    height: 120px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img-box img:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #131921;
    color: white;
    margin-top: 20px;
}
