.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;

}
.box{
    background-color: #acaf50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    
}

.box1{background-color: blue;}
.box2{background-color: red;}
.box3{background-color: #ff9800;}
.box4{background-color: #9c27b0;}
.box5{background-color: #009688;}
.box6{background-color: #e91e63;}