/* General  styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Block Example */
.block-menu a {
    display: block;
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}
/*Inline Example */
.inline-menu a {
    display: inline;
    padding: 5px;
    background-color: #2ecc71;
    margin: 5px;
    text-decoration: none;
    color: white;


}

/* Inline Block Example */
.inline-block-menu a{
    display: inline-block;
    padding: 10px 15px ;
    background-color: #362ecc ;
    margin: 5px;
    text-decoration: none;
    color: white;
}

/* Float Example */
.float-menu a {
    float: left;
    background-color: #e67e22;
    margin: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.clear {
    clear: both;
}